<article>
<h2><%=	 link_to("Windows9! This Fall?", {:controller => 'home_page', :action => 'index'}) %></h2>
<span class="byline">
							Windows 9 Rumored for this Fall! It's said this that this version is gonna have a different activitation
                            process.
						</span>
</header>
<%=image_tag('pic01.jpg') %>
<p>
  By Konrad Krawczyk	 — July 7, 2014

  According to Betanews, a Russian hacker that goes by the alias “WZor” has made some new claims not only about the future of Windows 8.1, but Windows 9 as well.
  A translation of what WZor says indicates that Windows 8.1 Update 2 will be the final significant update for Windows 8.1. On top of that, WZor claims that Microsoft will announce Windows 9 sometime this fall.
</p>
<footer>
  <%=  link_to("Continue Reading", {:controller => 'home_page', :action => 'index'}, {:class => "button"})%>
 <!-- <a href="#" class="button">Continue Reading</a> -->
</footer>
</article>

<article>
  <h2><%=	 link_to("HURRICANE ARTHUR FROM SPACE", {:controller => 'home_page', :action => 'index'}) %></h2>
<span class="byline">
							Astronaut’s view of Hurricane Arthur from space is both amazing and terrifying

						</span>
  </header>
  <%=image_tag('pic01.jpg') %>
  <p>
    Just as Americas were primed to get their Independence Day festivities underway, many people’s plans took a backseat to the dangerous and very untimely Hurricane Arthur, the first named storm of the 2014 Atlantic hurricane season.
    While Hurricane Arthur was bearing down on the East Coast, astronauts from the International Space Station (ISS) documented the storm as it made landfall in North Carolina, and captured some incredible, yet frightening images from 230 miles above the Earth’s surface.
  </p>
  <footer>
    <%=  link_to("Continue Reading", {:controller => 'home_page', :action => 'index'}, {:class => "button"})%>
    <!-- <a href="#" class="button">Continue Reading</a> -->
  </footer>
</article>